<ion-header style="border: 0px solid white !important;">
  <ion-toolbar style="border: 0px solid white !important;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      GreenApp
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be
      your guide.</p>
      <app-keyword-form></app-keyword-form>
      <app-keyword-list></app-keyword-list>
  </div>
</ion-content>