<ion-header style="border: 0px solid white !important;">
  <ion-toolbar style="border: 0px solid white !important;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      GreenApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="success" class="welcome-card" style="padding-top:20px;padding-bottom:20px;padding-left:10px;padding-right:10px">
      <div style="text-align: center;margin-bottom:20px;">
          <ion-text color="dark">
              <p>Please Login to Continue!</p>
          </ion-text>
      </div>
      <div>
          <ion-item color="none">
            <ion-label position="floating" type="text">Email or Mobile Number</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <br />
          <ion-item color="none">
              <ion-label position="floating" type="password">Password</ion-label>
              <ion-input></ion-input>
          </ion-item>
          <ion-button shape="round" color="dark" style="margin-top:20px;" expand="block">Login</ion-button>
          
      </div>
    </ion-card>
</ion-content>
